<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bang&Oops</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by gettemplates.co"/>
    <meta name="keywords"
          content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive"/>
    <meta name="author" content="gettemplates.co"/>

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="/js/jquery.countTo.js"></script>
    <!-- Flexslider -->
    <script src="/js/jquery.flexslider-min.js"></script>
    <!-- Main -->
    <script src="/js/main.js"></script>


    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet"> -->

    <!-- Animate.css -->

    <link rel="stylesheet" href="/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <!--	<link rel="stylesheet" href="../../static/css/icomoon.css">-->
    <link rel="stylesheet" href="/css/icomoon.css">
    <!-- Bootstrap  -->
    <!--	<link rel="stylesheet" href="../../static/css/bootstrap.css">-->
    <link rel="stylesheet" href="/css/bootstrap.css">

    <!-- Flexslider  -->
    <!--	<link rel="stylesheet" href="../../static/css/flexslider.css">-->
    <link rel="stylesheet" href="/css/flexslider.css">

    <!-- Owl Carousel  -->
    <!--	<link rel="stylesheet" href="../../static/css/owl.carousel.min.css">-->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!--	<link rel="stylesheet" href="../../static/css/owl.theme.default.min.css">-->
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <!--	<link rel="stylesheet" href="../../static/css/style.css">-->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Modernizr JS -->
    <script src="/js/modernizr-2.6.2.min.js"></script>

    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <style>
	#fh5co-hero .flexslider .slides li {
		background-size: cover;
		/* 이미지를 컨테이너에 맞추어 확대/축소 */
		background-position: center center;
		/* 이미지를 가운데로 정렬 */
	}

	.input-group {
		position: relative;
		left: 48px;
	}

	.col-md-3 col-xs-2 {
	}

	a {
  	text-decoration-line: none;
	}

	#sort{
	position: relative;
	left: 940px;
	}

  img{
  width:100px;
  height: 100px;

<!--	====================================================================================-->



    </style>

<script>
    let total = 0;
    let cnt = 0;
    let pnoList = [];
    let currentQuantityList = [];

    $(function() {
        check();
        $('#paymentBtn').on("click",function(){
            $(".cart_list_detail").each(function(){
                if($(this).find($("[name=pno]")).prop("checked")){
                    pnoList.push(parseInt($(this).find($("[name=pno]")).val().trim()));
                    currentQuantityList.push(parseInt($(this).find($(".quantity")).val().trim()));
                }
            });

            $.ajax({
                type : "POST",
                url : "/payment",
                data : {
                    "pnoList" : pnoList,
                    "quantityList" : currentQuantityList
                },
                success: function(){
                    location.href = "/payment/pay";
                },
                error : function(){
                    console.log("에러");
                }
            });
        });

        <!--삭제 버튼 클릭시-->
        $('[name=deleteProductBtn]').on("click", function(){
            pnoList=[];
            $("input:checkbox").each(function(index){
                if(index != 0){
                    if($(this).is(":checked")){
                        pnoList.push(parseInt($(this).val()));
                    }
                }
            });

            $.ajax({
                type : "POST",
                url : "/product/deleteCart",
                data : {
                    pnoList : pnoList
                },
                success : function(response){
                    alert(response + '개의 상품이 삭제되었습니다.');
                    location.href = "/product/cart";
                },
                error : function(){
                alert("선택된 상품이 없습니다.");
                }
            });
        });
        <!--수량변경 클릭시-->
        $('[name=countbtn]').on("click", function() {
            total = 0;
            var clickedButton = $(this);
            var newQuantity = clickedButton.parent().find(".quantity").val();
            var pno = clickedButton.parent().parent().find("[name=pno]").val();

            check();

            $.ajax({
                type: "POST",
                url: "/product/updateQuantity",
                data: {
                    newQuantity: newQuantity,
                    pno : pno
                },
                success: function(response) {
                    var productTotalPriceElement = clickedButton.closest('tr').find('[name=productTotalPrice]');
                    var updatedTotalPrice = response * newQuantity;
                    productTotalPriceElement.text(updatedTotalPrice.toLocaleString() + ' 원');

                    console.log("변경");
                },
                error: function(xhr) {
                    console.log("실패");
                    // 에러 처리
                }
            });
        });
    });

function checkSelectAll()  {
    total = 0;
    cnt = 0;
    // 전체 체크박스
    const checkboxes = document.querySelectorAll('input[name="pno"]');
    // 선택된 체크박스
    const checked = document.querySelectorAll('input[name="pno"]:checked');
    // select all 체크박스
    const selectAll = document.querySelector('input[name="selectAll"]');

    if(checkboxes.length === checked.length){
        selectAll.checked = true;
    }else {
        selectAll.checked = false;
    }
    check();
}

function selectAll(selectAll) {
    total = 0;
    cnt = 0;

    const checkboxes = document.getElementsByName('pno');

    checkboxes.forEach((checkbox) => {
        checkbox.checked = selectAll.checked
    })
    check();
}
function check(){
    $(".cart_list_detail").each(function(){
        if($(this).find($("[name=pno]")).prop("checked")){
            cnt += 1;
            var currentQuantity = $(this).find($(".quantity")).val();
            var currentPrice = $(this).find($(".price")).val();
            total += currentQuantity * currentPrice;
        }
    });

    $('[name=totalPrice]').text(total.toLocaleString() + ' 원');
    $('[name = selectedProduct]').text(cnt + '개');
}



</script>
</head>
<body>
<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-2">
                    <div id="fh5co-logo"><a href="/">Bang & Oops</a></div>
                </div>
                <div class="col-md-6 col-xs-6 text-center menu-1">
                    <ul>
                        <li><a href="/product/productList?categoryNumber=1">SPEAKER</a></li>
                        <li><a href="/product/productList?categoryNumber=2">EARPHONE</a></li>
                        <li><a href="/product/productList?categoryNumber=3">HEADPHONE</a></li>
                        <li><a href="/product/productList?categoryNumber=4">ACCESSORIES</a></li>
                        <li class="has-dropdown">
                            <a href="">COMMUNITY</a>
                            <ul class="dropdown">
                                <li><a href="/notice/noticeList">공지사항</a></li>
                                <li><a href="/review/reviewList">REVIEW</a></li>
                                <li><a href="/qna/qnaList">Q&A</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
                    <ul>
                        <li class="shopping-cart menu-2"><a href="/product/cart" class="cart"><span><small th:text="${cartListCount}">0</small><i
                                class="icon-shopping-cart"></i></span></a></li>
                        <li class="login menu-2" th:text="${username}" id="username"></li>
                        <!-- 로그인 상태일 때 -->
                        <li class="login menu-2" sec:authorize="isAuthenticated()" id="mypage">
                            님 <a href="/mypage">mypage</a>
                        </li>
                        <li class="login menu-2" sec:authorize="isAuthenticated()" id="logout">
                            <a href="logout">logout</a>
                        </li>

                        <!-- 로그인 상태가 아닐 때 -->
                        <li class="login menu-2" sec:authorize="isAnonymous()" id="join">
                            <a href="join">JOIN</a>
                        </li>
                        <li class="login menu-2" sec:authorize="isAnonymous()" id="login">
                            <a href="login">login</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- ============================================================================================= -->
    <!--  장바구니  -->
    <div id="fh5co-contact">
        <div class="container">
            <div class="animate-box">
                <h2 style="text-align:left;color:#808080">장바구니</h2>

                <!--   장바구니에 담긴 총 수량 -->
                <div class="circle"
                     th:style="${'width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: #D1C286;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: bold;
      font-size: 20px; position:relative; bottom:55px; left:130px;'}" th:text="${cartListCount}">

                </div>
            </div>

            <br>

            <!--      장바구니 리스트 -->
            <section class="cart">
                <table class="table-striped cart_list animate-box">
                    <thead style="color:#C1C1C1">
                    <tr>
                        <td><input name="selectAll" type="checkbox" onclick='selectAll(this)' value="selectAll"
                                   checked="true"></td>
                        <td colspan="2">상품정보</td>
                        <td>수량</td>
                        <td>상품금액</td>
                        <td>배송비</td>
                    </tr>
                    </thead>

                    <tbody>

                    <tr class="cart_list_detail" th:each="cart:${cartList}">
                        <td style="width: 2%;"><input name="pno" type="checkbox" th:value="${cart.productNumber}"
                                                      onclick='checkSelectAll(this)' checked="true"></td>
                        <td style="width: 13%;"><img th:src="@{/images/__${cart.img}__.jpg}"></td>
                        <td style="width: 35%;"><br>
                            <span th:text=" ${cart.productName}"></span></td>
                        <td class="cart__list__option" style="width: 19%;"><br>
                            <span><input class="quantity" type="number" min="1" th:value="${cart.cartQuantity}"
                                         style="width:50px;border: 1px solid #D9D9D9; border-radius: 3px;"></span>
                            <br>
                            <br>
                            <button class="btn btn-primary btn-outline btn-xxs countbtn" name="countbtn"
                                    style="font-size:13px;width:80px;height:35px;padding:11px;padding-top:7px">수량 변경
                            </button>
                        </td>
                        <td style="width: 15%;"><br>

                            <input type="hidden" class="price" name="productTotalPrice" th:value="${cart.productPrice}">
                            <span name="productTotalPrice"
                                  th:text="|${#numbers.formatInteger(cart.productPrice*cart.cartQuantity, 0, 'COMMA')}| + ' 원'"
                                  style="font-weight: bolder;"></span><br><br>
                            <button class="btn btn-primary orderbtn"
                                    style="font-size:13px;width:80px;height:35px;padding:11px;padding-top:7px">바로 구매
                            </button>
                        </td>
                        <td style="width: 15%;"><br>
                            <p>무료</p>
                        </td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="6">
                            <button class=" btn btn-primary btn-outline"
                                    style="font-size:13px;width:107px;height:35px;padding:11px;padding-top:7px"
                                    name="deleteProductBtn">
                                선택상품 삭제
                            </button>
                        </td>
                    </tr>
                    </tfoot>
                </table>

                <!--        =======================================================================================-->
                <table class="animate-box">
                    <thead>
                    <tr>
                        <hr>
                        <th>총 주문 상품 <span name="selectedProduct"></span></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <div style=" align-items: center; ">
                            <td>
                  <span style="position:relative; left:220px">
                    <h2 name="totalPrice" style="color:#D1C286;"
                        th:text="|${#numbers.formatInteger(totalPrice, 0, 'COMMA')}| + ' 원'"></h2>
                    <p style=" align-items: center; text-align: center; ">상품금액</p>
                  </span>
                            </td>
                            <td>
                  <span style="position:relative; left:270px">
                    <h2 style="color:#808080;">+</h2>
                  </span>
                            </td>
                            <td>
                  <span style="position:relative; left:370px">
                    <h2 style="color:#D1C286;">무료</h2>
                    <p style=" align-items: center; text-align: center;">배송비</p>
                  </span>
                            </td>
                            <td>
                  <span style="position:relative; left:470px">
                    <h2 style="color:#808080;">=</h2>
                  </span>
                            </td>
                            <td>
                  <span style="position:relative; left:500px">
                    <h2 name="totalPrice" style="color:#D1C286;"
                        th:text="|${#numbers.formatInteger(totalPrice, 0, 'COMMA')}| + ' 원'"></h2>
                    <p style=" align-items: center; text-align: center;">총 주문금액</p>
                  </span>
                            </td>
                        </div>
                    </tr>
                    </tbody>
                </table>
                <br>

                <!--        주문하기 버튼 & 쇼핑 계속하기 버튼-->
                <div class="cart__mainbtns animate-box">
                    <hr>
                    <!--          <button class=" btn btn-primary btn-lg" >주문하기</button>-->
                    <div class="form-group">
                        <button value="주문하기" class="btn btn-primary" id="paymentBtn"
                                style="width: 500px;height: 54px;position:relative;left:300px;">
                            주문하기
                        </button>
                    </div>

                    <a href="" style="position:relative;left:500px;">쇼핑계속하기</a>
                </div>
            </section>

        </div>
    </div>

    <!-- =========================================================================================== -->


    <!-- ============================================================================================================================ -->
    <footer id="fh5co-footer" role="contentinfo" style="background: #D1C286">
        <div class="container">
            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">&copy; 2023 Free HTML5. All Rights Reserved.</small>
                        <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank"
                                                            style="color:white">FreeHTML5.co</a>
                            Demo Images: <a href="http://blog.gessato.com/"
                                            target="_blank" style="color:white">Gessato</a> &amp; <a
                                    href="http://unsplash.co/"
                                    target="_blank" style="color:white">Unsplash</a></small>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>


</body>
</html>
