<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shop &mdash; Free Website Template, Free HTML5 Template by gettemplates.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="gettemplates.co" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <!-- summernote   -->
    <script src="/assets/js/summernote/summernote-lite.js"></script>
    <script src="/assets/js/summernote/lang/summernote-ko-KR.js"></script>
    <link rel="stylesheet" href="/assets/css/summernote/summernote-lite.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script th:src="@{/js/board.js}"></script>
</head>
x

<link rel="stylesheet" th:href="@{/css/style.css}">
<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet"> -->

<!-- Animate.css -->
<link rel="stylesheet" th:href="@{/css/animate.css}">
<!-- Icomoon Icon Fonts -->
<link rel="stylesheet" th:href="@{/css/icomoon.css}">
<!-- Bootstrap -->
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<!-- Flexslider -->
<link rel="stylesheet" th:href="@{/css/flexslider.css}">
<!-- Owl Carousel -->
<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/css/style.css}">

<!-- Modernizr JS -->
<script th:src="@{/js/modernizr-2.6.2.min.js}"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script th:src="@{js/respond.min.js}"></script>
<![endif]-->
<!-- include libraries(jQuery, bootstrap) -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<!-- include plugin -->
<script src="[folder where script is located]/[plugin script].js"></script>
</head>
<style>
			.star-rating {

	  font-size: 30px;
	  direction: rtl;
	}

	.star {
	  display: none;
	}

	label {
	  color: #ccc;
	  cursor: pointer;
	  display: inline-block;
	  unicode-bidi: bidi-override;
	  direction: ltr;
	}

	/* 별점이 체크되지 않은 상태일 때 회색으로 표시 */
	.star:not(:checked) ~ label {
	  color: #ccc;
	}
	.star:checked ~ label {
	  color: orange;
	}

	</style>




<body>
<!--======================================================================================================  -->
<!-- 상단부분 -->

<div class="fh5co-loader"></div>

<div id="page">
    <!--  카테고리  ==============================================================================================-->
    <nav class="fh5co-nav" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-2">
                    <div id="fh5co-logo"><a href="/">Bang & Oops</a></div>
                </div>
                <div class="col-md-6 col-xs-6 text-center menu-1">
                    <ul>
                        <li><a href="/product/productList?categoryNumber=1">SPEAKER</a></li>
                        <li><a href="/product/productList?categoryNumber=2">EARPHONE</a></li>
                        <li><a href="/product/productList?categoryNumber=3">HEADPHONE</a></li>
                        <li><a href="/product/productList?categoryNumber=4">ACCESSORIES</a></li>
                        <li class="has-dropdown">
                            <a href="">COMMUNITY</a>
                            <ul class="dropdown">
                                <li><a href="/notice/noticeList">공지사항</a></li>
                                <li><a href="/review/reviewList">REVIEW</a></li>
                                <li><a href="/qna/qnaList">Q&A</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
                    <ul>
                        <li class="shopping-cart menu-2"><a href="/product/cart" class="cart"><span><small
                                th:text="${cartListCount}">0</small><i
                                class="icon-shopping-cart"></i></span></a></li>
                        <li class="login menu-2" th:text="${username}" id="username"></li>
                        <!-- 로그인 상태일 때 -->
                        <li class="login menu-2" sec:authorize="isAuthenticated()" id="mypage">
                            님 <a href="/mypage">mypage</a>
                        </li>
                        <li class="login menu-2" sec:authorize="isAuthenticated()" id="logout">
                            <a href="/logout">logout</a>
                        </li>

                        <!-- 로그인 상태가 아닐 때 -->
                        <li class="login menu-2" sec:authorize="isAnonymous()" id="join">
                            <a href="/join">JOIN</a>
                        </li>
                        <li class="login menu-2" sec:authorize="isAnonymous()" id="login">
                            <a href="/login">login</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <!-- ======================================================================================================================================== -->
    <div class="container">

        <main class="form-signin" style="max-width: 100%;">
            <div class="container border rounded flex-md-row mb-4 shadow-sm h-md-250">
                <form action="reviewModifyOk" method="post">
                    <h1>리뷰 수정</h1>
                    <div class="star-rating">
                        <input type="radio" name="star" class="star" id="star5" checked="checked" value="5" />
                        <label for="star5">&#9733;</label>
                        <input type="radio" name="star" class="star" id="star4" value="4" />
                        <label for="star4">&#9733;</label>
                        <input type="radio" name="star" class="star" id="star3" value="3" />
                        <label for="star3">&#9733;</label>
                        <input type="radio" name="star" class="star" id="star2" value="2" />
                        <label for="star2">&#9733;</label>
                        <input type="radio" name="star" class="star" id="star1" value="1" />
                        <label for="star1">&#9733;</label>
                        <input type="radio" name="star" class="star" id="star0" value="0" style="display: none;" />
                    </div>
                    <div class="form-floating m-3">
                        <p>리뷰내용</p>
                        <textarea class="form-control" rows="5" id="summernote" style="height: 450px;" name="replyContents" th:utext="${reviewDTO.replyContents}"></textarea>
                        <td><input type="hidden" name="replyNumber" th:value="${reviewDTO
                        .replyNumber}"/></td>
                    </div>

                    <input type="submit" class="btn btn-success" value="작성">
                </form>
            </div>
        </main>
    </div>
    <script>
    $('#summernote').summernote({
        // 에디터 높이
        height: 400,
        // 에디터 한글 설정
        lang: "ko-KR",
        // 에디터에 커서 이동 (input창의 autofocus라고 생각)
        focus : true,

        toolbar: [
            // 글꼴 설정
            ['fontname', ['fontname']],
            // 글자 크기 설정
            ['fontsize', ['fontsize']],
            // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
            ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
            // 글자색
            ['color', ['forecolor','color']],
            // 표만들기
            ['table', ['table']],
            // 글머리 기호, 번호매기기, 문단정렬
            ['para', ['ul', 'ol', 'paragraph']],
            // 줄간격
            ['height', ['height']],
            // 코드보기, 확대해서보기, 도움말
            ['view', ['codeview','fullscreen', 'help']]
        ],
        // 추가한 글꼴
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
        // 추가한 폰트사이즈
        fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']



    });
</script>



    <footer id="fh5co-footer" role="contentinfo" style="background: #D1C286">
        <div class="container">
            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">&copy; 2023 Free HTML5. All Rights Reserved.</small>
                        <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank"
                                                            style="color:white">FreeHTML5.co</a>
                            Demo Images: <a href="http://blog.gessato.com/"
                                            target="_blank" style="color:white">Gessato</a> &amp; <a
                                    href="http://unsplash.co/"
                                    target="_blank" style="color:white">Unsplash</a></small>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>

<div class="gototop js-top">
    <a th:href="@{#}" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- jQuery Easing -->
<script th:src="@{/js/jquery.easing.1.3.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Waypoints -->
<script th:src="@{/js/jquery.waypoints.min.js}"></script>
<!-- Carousel -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- countTo -->
<script th:src="@{/js/jquery.countTo.js}"></script>
<!-- Flexslider -->
<script th:src="@{/js/jquery.flexslider-min.js}"></script>
<!-- Main -->
<script th:src="@{/js/main.js}"></script>

</body>
</html>

