<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>reviewDetail</h2>
    <table>
        <tr>
            <td th:text="${dto.reply_number}"></td>
            <td th:text="${dto.reply_contents}"></td>
            <td th:text="${dto.reply_writer}"></td>
            <td th:text="${dto.reply_date}"></td>
            <td th:text="${dto.reply_score}"></td>
            <td th:text="${dto.product_number}"></td>
        </tr>

    </table>
</body>
</html>