<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Shop &mdash; Free Website Template, Free HTML5 Template by gettemplates.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="gettemplates.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

		<link rel="stylesheet" th:href="@{/css/style.css}">
	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet"> -->

		<!-- Animate.css -->
		<link rel="stylesheet" th:href="@{/css/animate.css}">
		<!-- Icomoon Icon Fonts-->
		<link rel="stylesheet" th:href="@{/css/icomoon.css}">
		<!-- Bootstrap  -->
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}">

		<!-- Flexslider  -->
		<link rel="stylesheet" th:href="@{/css/flexslider.css}">

		<!-- Owl Carousel  -->
		<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
		<link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">

		<!-- Theme style  -->
		<link rel="stylesheet" th:href="@{/css/style.css}">

		<!-- Modernizr JS -->
		<script th:src="@{/js/modernizr-2.6.2.min.js}"></script>
		<!-- FOR IE9 below -->
		<!--[if lt IE 9]>
		<script th:src="@{/js/respond.min.js}"></script>
		<![endif]-->
	</head>
	<style>
    .centered {
        display: flex;
        justify-content: center;
    }
    th.writer, td.writer, th.productNumber, td.productNumber, th.score, td.score {
        width: 120px; /* 작성자 칼럼의 너비를 조정합니다 */
    }

     th.date, td.date {
        width: 150px; ]\\

        white-space: nowrap; /* 텍스트가 넘치지 않도록 한 줄로 유지합니다 */
        overflow: hidden; /* 넘치는 텍스트를 숨깁니다 */
        text-overflow: ellipsis; /* 넘치는 텍스트를 ... 으로 표시합니다 */
    }
    th.reviewNo, td.reviewNo {
        width: 30px; /* 작성자 칼럼의 너비를 조정합니다 */성
    }

	.star-rating {
    font-size: 30px;
    direction: ltr; /* 왼쪽 정렬 */
}

label {
    color: orange;
    cursor: pointer;
    display: inline-block;
    unicode-bidi: bidi-override;
    direction: ltr;
    font-size: 15px;
    text-align: left; /* 왼쪽 정렬 */
}


	</style>
	<script th:inline="javascript">
    function truncateText(text, maxLength) {
        return text.length > maxLength ? text.slice(0, maxLength) + '...' : text;
    }

    function deleteReview(element) {
        var replyNumber = $(element).parent().find('[name=replyNumber]').val();
        console.log(replyNumber);
        var member_id = $(element).parent().find('[name=member_id]').val();
        console.log(member_id);

        $.ajax({
            type: "GET",
            url: "/review/reviewDelete",
            data: {
                replyNumber: replyNumber.trim(),
                member_id: member_id.trim()
            },
            success: function(response) {
                alert(response);
                location.href = "/review/reviewList"
            },
            error: function() {
                alert('로그인 정보가 없습니다');
                location.href = "/review/reviewList"
            }
        });
    }

     function modifyReview(element) {
    var replyNumber = $(element).parent().find('[name=replyNumber]').val();
    var member_id = $(element).parent().find('[name=member_id]').val();

    $.ajax({
        type: "POST",
        url: "/review/reviewModify",
        data: {
            replyNumber: replyNumber.trim(),
            member_id: member_id.trim()
        },
        success : function(response){
        	if(response == "성공"){
        		location.href = "/review/reviewModify?replyNumber=" + replyNumber + "&member_id=" + member_id;
        	}
            else {
            	alert("해당 게시글의 작성자가 아닙니다");
            	location.href = "/review/reviewList";
            }
        },
        error: function(response) {
                alert('로그인 정보가 없습니다');
                location.href = "/review/reviewList"
            }

    });
}

</script>

	<body>
	<div class="fh5co-loader"></div>
	<div id="page">
		<!--  카테고리  ==============================================================================================-->
		<nav class="fh5co-nav" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-2">
						<div id="fh5co-logo"><a href="/">Bang & Oops</a></div>
					</div>
					<div class="col-md-6 col-xs-6 text-center menu-1">
						<ul>
							<li><a href="/product/productList?categoryNumber=1">SPEAKER</a></li>
							<li><a href="/product/productList?categoryNumber=2">EARPHONE</a></li>
							<li><a href="/product/productList?categoryNumber=3">HEADPHONE</a></li>
							<li><a href="/product/productList?categoryNumber=4">ACCESSORIES</a></li>
							<li class="has-dropdown">
								<a href="">COMMUNITY</a>
								<ul class="dropdown">
									<li><a href="/notice/noticeList">공지사항</a></li>
									<li><a href="/review/reviewList">REVIEW</a></li>
									<li><a href="/qna/qnaList">Q&A</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
						<ul>
							<li class="shopping-cart menu-2"><a href="/product/cart" class="cart"><span><small
									th:text="${cartListCount}">0</small><i
									class="icon-shopping-cart"></i></span></a></li>
							<li class="login menu-2" th:text="${username}" id="username"></li>
							<!-- 로그인 상태일 때 -->
							<li class="login menu-2" sec:authorize="isAuthenticated()" id="mypage">
								님 <a href="/mypage">mypage</a>
							</li>
							<li class="login menu-2" sec:authorize="isAuthenticated()" id="logout">
								<a href="/logout">logout</a>
							</li>

							<!-- 로그인 상태가 아닐 때 -->
							<li class="login menu-2" sec:authorize="isAnonymous()" id="join">
								<a href="/join">JOIN</a>
							</li>
							<li class="login menu-2" sec:authorize="isAnonymous()" id="login">
								<a href="/login">login</a>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</nav>


	<!-- ======================================================================================================================================== -->
		<!-- 메인 배너 -->
		<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(/images/category_img2.jpg); background-position: bottom center;">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeIn">
								<h1>REVIEW</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

	<!-- ======================================================================================================================================== -->
	<!-- 리뷰 -->
		<div id="fh5co-product">
			<div class="container">
				<div class="col-md-6 " style="margin:0; padding:0;"><p style="font-size:24px;">REVIEW</p></div>
				<div style="float:right;">
					<a th:href="@{/review/reviewWrite}" class="btn btn-primary" >작성</a>

				</div>
				<div class="row">
					<table class="table">
						<tr>
							<th class="reviewNo">No</th>
							<th class="productNumber">상품명</th>
							<th>내용</th>
							<th class="writer">작성자</th>
							<th class="score">평점</th>
							<th class="date">작성일</th>
							<th></th>
							<th></th>
						</tr>
						<tr th:each="reviewDTO : ${list}">
							<td class="reviewNo" th:text="${reviewDTO.replyRef}"></td>

							<td class="productName" th:text="${#strings.length(reviewDTO.productName) > 10 ? #strings.substring(reviewDTO.productName, 0, 10) + '...' : reviewDTO.productName}"></td>
							<td>
								<a th:href="@{/review/reviewDetail(replyNumber=${reviewDTO.replyNumber})}" style="">
									<span th:utext="${#strings.length(reviewDTO.replyContents) > 20 ? #strings.substring(reviewDTO.replyContents, 0, 20) + '...' : reviewDTO.replyContents}"></span>
								</a>
							</td>
							<td class="writer" th:text="${reviewDTO.replyWriter}"></td>
							<td>
								<div class="star-rating">
									<th:block th:each="score : ${#numbers.sequence(1, reviewDTO.replyScore)}">
										<label for="star">&#9733;</label>
									</th:block>
								</div>
							</td>
							<td class="date" th:text="${reviewDTO.replyDate}"></td>

							<td>
								<input type="hidden" name="member_id" th:value="${reviewDTO.member_id}">
								<input type="hidden" name="replyNumber" th:value="${reviewDTO.replyNumber}">
								<a href="#" onclick="modifyReview(this)" class="btn btn-primary" style="font-size: 12px;">수정</a>
							</td>

							<td>
								<input type="hidden" name="member_id" th:value="${reviewDTO.member_id}">
								<input type="hidden" name="replyNumber" th:value="${reviewDTO.replyNumber}">

								<a href="#" onclick="deleteReview(this)" class="btn btn-primary btn-outline" style="font-size:12px;">
									삭제
								</a>
							</td>



						</tr>
					</table>
						<hr>

					<div class="centered">
							<nav aria-label="Page navigation example">
								<ul class="pagination">
									<li th:if="${map.prev}">
										<a th:href="@{/review/reviewList(currentPage=${map.currentPage-5})}" class="page-link">이전</a>
									</li>
									<li th:each="i : ${#numbers.sequence(map.startPageNo, map.endPageNo)}">
										<a th:href="@{/review/reviewList(currentPage=${i})}" class="page-link" th:text="${i}"></a>
									</li>
									<li th:if="${map.next}">
										<a th:href="@{/review/reviewList(currentPage=${map.currentPage+5})}" class="page-link">다음</a>
									</li>
								</ul>
							</nav>
					</div>
					</div>
				</div>
				</div>


		<footer id="fh5co-footer" role="contentinfo" style="background: #D1C286">
			<div class="container">
				<div class="row copyright">
					<div class="col-md-12 text-center">
						<p>
							<small class="block">&copy; 2023 Free HTML5. All Rights Reserved.</small>
							<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank"
																style="color:white">FreeHTML5.co</a>
								Demo Images: <a href="http://blog.gessato.com/"
												target="_blank" style="color:white">Gessato</a> &amp; <a
										href="http://unsplash.co/"
										target="_blank" style="color:white">Unsplash</a></small>
						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a th:href="@{#}" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<!-- jQuery Easing -->
	<script th:src="@{/js/jquery.easing.1.3.js}"></script>
	<!-- Bootstrap -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- Waypoints -->
	<script th:src="@{/js/jquery.waypoints.min.js}"></script>
	<!-- Carousel -->
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<!-- countTo -->
	<script th:src="@{/js/jquery.countTo.js}"></script>
	<!-- Flexslider -->
	<script th:src="@{/js/jquery.flexslider-min.js}"></script>
	<!-- Main -->
	<script th:src="@{/js/main.js}"></script>


	</body>

</html>

