<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.jhta.bang.finalproject.dao.IndexDAO">
    <select id="selectAllSpeaker"  resultType="ProductListDTO">
        SELECT p.product_number as productNumber,  i.image_src as imageSrc, product_name as productName, product_price as productPrice, category_number as categoryNumber
        FROM product p, image i
        WHERE p.product_number = i.product_number
        AND category_number=1
        AND image_order=1
        AND p.product_number IN (1001, 1002, 1003)
    </select>

    <select id="selectAllEarphone"  resultType="ProductListDTO">
        SELECT p.product_number as productNumber,  i.image_src as imageSrc, product_name as productName, product_price as productPrice, category_number as categoryNumber
        FROM product p, image i
        WHERE p.product_number = i.product_number
        AND category_number=2
        AND image_order=1
        AND p.product_number IN (2001, 2002, 2003)
    </select>

    <select id="selectAllHeadphone"  resultType="ProductListDTO">
        SELECT p.product_number as productNumber,  i.image_src as imageSrc, product_name as productName, product_price as productPrice, category_number as categoryNumber
        FROM product p, image i
        WHERE p.product_number = i.product_number
        AND category_number=3
        AND image_order=1
        AND p.product_number IN (3001, 3002, 3003)
    </select>

</mapper>