<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.jhta.bang.finalproject.dao.ProductListDAO">
    <select id="selectAll" parameterType="int" resultType="ProductListDTO">
        SELECT p.product_number as productNumber,  i.image_src as imageSrc, product_name as productName, product_price as productPrice, category_number as categoryNumber,
        (SELECT COUNT(*) FROM product_reply pr WHERE pr.product_number = p.product_number) as reviewCount
        FROM product p, image i
        WHERE p.product_number = i.product_number
        AND category_number=#{category_number}
        AND image_order=1
    </select>

    <select id="getTotal" resultType="int">
        SELECT count(*) cnt
        FROM product
        WHERE category_number=#{category_number}
    </select>

    <select id="selectOne" resultType="ProductListDTO" parameterType="int">
        SELECT  p.product_number as productNumber, p.product_name as productName, p.product_price as productPrice, i.image_src as imageSrc
        FROM product p, image i
        WHERE p.product_number = i.product_number
        AND p.product_number=#{product_number}
        AND image_order=1
    </select>

<!--    상세정보에 이미지 리스트 뿌려주기 -->
    <select id="selectList" resultType="ImageDTO" parameterType="int">
        SELECT image_src as imageSrc
        FROM image
        WHERE product_number=#{product_number}
        AND not image_order = 1

    </select>


</mapper>