<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.jhta.bang.finalproject.dao.QnaDAO">

    <select id="getQnaListByType" resultType="QnaDTO" parameterType="String">
        SELECT qna_number AS qnaNumber, qna_title AS qnaTitle, qna_contents AS qnaContents, qna_writer AS qnaWriter, qna_date AS qnaDate, qna_ref AS qnaRef, qna_step AS qnaStep, qna_ref_order AS qnaRefOrder, qna_answer_number AS qnaAnswerNumber, qna_parent_number AS qnaParentNumber, qna_type AS qnaType, qna_status AS qnaStatus, qna_secret AS qnaSecret, member_id AS memberId
        FROM qna
        WHERE qna_step = 0 AND qna_type = #{qnaType}
        ORDER BY qna_ref DESC
        LIMIT 0, 10; <!-- 여기서 10은 조회할 최대 개수를 나타냅니다. -->
    </select>

    <!--<select id="getQnaListByType" resultType="QnaDTO" parameterType="String">
        SELECT qna_number AS qnaNumber, qna_title AS qnaTitle, qna_contents AS qnaContents, qna_writer AS qnaWriter, qna_date AS qnaDate, qna_ref AS qnaRef, qna_step AS qnaStep, qna_ref_order AS qnaRefOrder, qna_answer_number AS qnaAnswerNumber, qna_parent_number AS qnaParentNumber, qna_type AS qnaType, qna_status AS qnaStatus, qna_secret AS qnaSecret, member_id AS memberId
        FROM qna
        WHERE qna_step = 0 AND qna_type = #{qnaType}
        ORDER BY qna_ref DESC;
    </select>-->

    <select id="getAll" resultType="QnaDTO" parameterType="StartEnd">
        SELECT rn AS rowNumber, qna_number AS qnaNumber, qna_title AS qnaTitle, qna_contents AS qnaContents, qna_writer AS qnaWriter, qna_date AS qnaDate, qna_ref AS qnaRef, qna_step AS qnaStep, qna_ref_order AS qnaRefOrder, qna_answer_number AS qnaAnswerNumber, qna_parent_number AS qnaParentNumber, qna_type AS qnaType, qna_status AS qnaStatus, qna_secret AS qnaSecret, member_id AS memberId
        FROM ( SELECT ROW_NUMBER() OVER (ORDER BY qna_ref DESC) AS rn, qna_number, qna_title, qna_contents, qna_writer, qna_date, qna_ref, qna_step, qna_ref_order, qna_answer_number, qna_parent_number, qna_type, qna_status, qna_secret, member_id
        FROM qna
        WHERE qna_step = 0
        ) AS derived
        WHERE rn BETWEEN #{startNo} AND #{endNo}
        AND qna_step = 0;
    </select>

    <!--<select id="getTotal" resultType="int">
        SELECT count(*)cnt
        FROM qna
    </select>-->

    <select id="getTotal" resultType="int">
        SELECT count(*) AS cnt
        FROM qna
        WHERE qna_step = 0
    </select>

   <!-- <select id="getAll" resultType="QnaDTO">
        SELECT * FROM qna
        WHERE qna_step = 0
        ORDER BY qna_ref DESC
    </select>-->
   <!-- <select id="getRef" resultType="QnaDTO">
        SELECT * FROM qna
        WHERE qna_sept = 1
        ORDER BY qna_
    </select>-->
    <select id="selectOne" parameterType="int" resultType="QnaDTO">
        SELECT qna_number AS qnaNumber, qna_title AS qnaTitle, qna_contents AS qnaContents, qna_writer AS qnaWriter, qna_date AS qnaDate, qna_ref AS qnaRef, qna_step AS qnaStep, qna_ref_order AS qnaRefOrder, qna_answer_number AS qnaAnswerNumber, qna_parent_number AS qnaParentNumber, qna_type AS qnaType, qna_status AS qnaStatus, qna_secret AS qnaSecret, member_id AS memberId
        FROM qna
        WHERE qna_number =#{qnaNumber}
    </select>
    <insert id="insertOne" parameterType="QnaDTO">
        INSERT INTO qna (qna_title, qna_contents, qna_writer, qna_date, qna_ref, qna_step, qna_ref_order, qna_answer_number, qna_parent_number, qna_type, qna_status, qna_secret, member_id)
        VALUES (#{qnaTitle}, #{qnaContents}, #{qnaWriter}, DATE_FORMAT(NOW(), '%y-%m-%d'),
        (SELECT IFNULL(MAX_qna_ref, 0) + 1 FROM (SELECT MAX(qna_ref) AS MAX_qna_ref FROM qna) AS temp), 0, 0, 0, 0, #{qnaType}, 0, #{qnaSecret}, 'b')
    </insert>
    <update id="updateOne" parameterType="QnaDTO">
        UPDATE qna
        SET qna_writer = #{qnaWriter}, qna_title = #{qnaTitle}, qna_contents = #{qnaContents}, qna_type = #{qnaType}, qna_secret = #{qnaSecret}
        WHERE qna_number = #{qnaNumber}
    </update>
    <delete id="deleteOne" parameterType="int">
        DELETE FROM qna
        WHERE qna_number = #{qnaNumber}
    </delete>

</mapper>

