<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.jhta.bang.finalproject.dao.QnaDAO">
    <select id="getAll" resultType="QnaDTO">
        SELECT * FROM qna
        WHERE qna_step = 0
        ORDER BY qna_ref DESC
    </select>
    <select id="selectOne" parameterType="int" resultType="QnaDTO">
        SELECT * FROM qna
        WHERE qna_number =#{qna_number}
    </select>
    <insert id="insertOne" parameterType="QnaDTO">
        INSERT INTO qna (qna_title, qna_contents, qna_writer, qna_date, qna_ref, qna_step, qna_ref_order, qna_answer_number, qna_parents_number, qna_type, qna_status, member_id)
        VALUES (#{qna_title}, #{qna_contents}, #{qna_writer}, DATE_FORMAT(NOW(), '%y-%m-%d'), 0, 0, 0, 0, 0, 'a', 0, 'b')
    </insert>
    <update id="updateOne" parameterType="QnaDTO">
        UPDATE qna
        SET qna_writer = #{qna_writer}, qna_title = #{qna_title}, qna_contents = #{qna_contents}
        WHERE qna_number = #{qna_number}
    </update>
    <delete id="deleteOne" parameterType="int">
        DELETE FROM qna
        WHERE qna_number = #{qna_number}
    </delete>

</mapper>

