.speech-bubble {
	position: relative;
	background: #d1c286;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 9px solid transparent;
	border-right-color: #d1c286;
	border-left: 0;
	border-top: 0;
	margin-top: -4.5px;
	margin-left: -9px;
}