<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shop &mdash; Free Website Template, Free HTML5 Template by gettemplates.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="gettemplates.co" />


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet"> -->

    <link rel="stylesheet" type="text/css" href="//script.gmarket.com/signup/css/app.css?t=0803" />

    <link rel="stylesheet" type="text/css" href="//script.gmarket.co.kr/pc/css/ko/common.css"/>
    <link rel="stylesheet" type="text/css" href="//script.gmarket.co.kr/pc/css/ko/member_login.css?v=20230504"/>


    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="css/flexslider.css">


    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <style>
        .link__login-option {
            font-size: 20px;
        }

        .fh5co-social-icons {
            margin-left: 30px;
        }

    </style>

</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-2">
                    <div id="fh5co-logo"><a href="index.html">Bang & Oops</a></div>
                </div>
                <div class="col-md-6 col-xs-6 text-center menu-1">
                    <ul>
                        <li><a href="productList.html">SPEAKER</a></li>
                        <li><a href="productList.html">EARPHONE</a></li>
                        <li><a href="productList.html">HEADPHONE</a></li>
                        <li><a href="productList.html">ACCESSORIES</a></li>
                        <li><a href="services.html">SERVICE</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
                    <ul>
                        <li class="shopping-cart menu-2"><a href="#" class="cart"><span><small>0</small><i
                                class="icon-shopping-cart"></i></span></a></li>
                        <li class="login menu-2"><a href="join">JOIN</a></li>
                        <li class="login menu-2"><a href="login">login</a></li>
                        <li class="search menu-2">
                            <div class="input-group">
                                <input type="text" placeholder="SEARCH">
                                <span class="input-group-btn">
                              <button class="btn btn-primary" type="button"><i
                                      class="icon-search"></i></button>
                           </span>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <!-- ============================================================= -->

    <div id="fh5co-contact">
        <div class="container">
            <div class="row">

                <div class="col-md-6 animate-box" style="position: relative; left: 300px;">
                    <h3 style="color:#7E7E7E ; font-weight: bold; position: relative; left: 200px;">LOGIN</h3>
                    <form action="login" method="post">

                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="text" id="id" name="member_id" class="form-control" placeholder="ID" style="width: 500px;height: 54px;">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="text" id="pw" name="member_pw" class="form-control" placeholder="PW" style="width: 500px;height: 54px;">
                            </div>
                        </div>

                        <div class="form-check">
                            <input class="form__checkbox" type="checkbox" value="" id="autoLogin">
                            <label class="text__label" for="autoLogin">
                                자동 로그인
                            </label>
                        </div>

                        <br>

                        <div class="form-group">
                            <input type="submit" value="LOGIN" class="button__submit" style="width: 500px;height: 54px; background-color: #D1C286; color: white;">
                        </div>

                        <br>

                        <ul class="fh5co-social-icons">
                            <li><a href="#" id="goFindID" class="link__login-option" >아이디 찾기</a></li>|
                            <li><a href="#" id="goFindPassword" class="link__login-option" >비밀번호 재설정</a></li>|
                            <li><a href="join" id="goDefault" class="link__login-option" >회원가입</a></li>
                        </ul>

                        <div class="box__login-other">

                            <div class="box__social type-icon">
                                <a href="#" id="social_login-type-kakao" data-montelena-acode="" class="link__social-login type-kakao sprite__login--before" aria-label="카카오로 로그인하기"></a>
                                <a href="#" id="social_login-type-apple" data-montelena-acode="" class="link__social-login type-apple sprite__login--before" aria-label="애플로 로그인하기"></a>
                            </div>
                            <div id="appleid-signin" data-type="sign in" style="display:none"></div>
                        </div>

                        <br>

                        <h3 style="color:#7E7E7E ; font-weight: bold; position: relative; left: 150px;">SOCIAL LOGIN</h3>

                        <p></p>

                    </form>
                </div>
            </div>

        </div>
    </div>



    <footer id="fh5co-footer" role="contentinfo">
        <div class="container">


            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
                        <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://blog.gessato.com/" target="_blank">Gessato</a> &amp; <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
                    </p>
                    <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                    </p>
                </div>
            </div>

        </div>
    </footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="js/jquery.countTo.js"></script>
<!-- Flexslider -->
<script src="js/jquery.flexslider-min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
<script src="js/google_map.js"></script>

<!-- Main -->
<script src="js/main.js"></script>

</body>
</html>