<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shop &mdash; Free Website Template, Free HTML5 Template by gettemplates.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="gettemplates.co" />


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet"> -->

    <!-- Animate.css -->
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" th:href="@{/css/icomoon.css}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <!-- Flexslider  -->
    <link rel="stylesheet" th:href="@{/css/flexslider.css}">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">

    <!-- Theme style  -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- Modernizr JS -->
    <script th:src="@{/js/modernizr-2.6.2.min.js}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
    <script th:src="@{/js/modernizr-2.6.2.min.js}"></script>

    <script>
        function modifyQna(element) {
    var qnaNumber = $(element).parent().find('[name=qnaNumber]').val();
    console.log(qnaNumber);
    var memberId = $(element).parent().find('[name=memberId]').val();
    console.log(memberId);

    $.ajax({
        type: "GET",
        url: "/qna/qnaCheck",
        data: {
            memberId: memberId.trim()
        },
        success : function(response){
        console.log(response);
        	if(response == "성공"){
        		location.href = "/qna/qnaModify?qnaNumber=" + qnaNumber + "&memberId=" + memberId;
        	}
            else {
            	alert("해당 게시글의 작성자가 아닙니다");
            	location.href = "/qna/qnaList";
            }
        },
        error: function(response) {
                alert('로그인 정보가 없습니다');
                location.href = "/qna/qnaList"
            }

    });
}

    function deleteQna(element) {
    var qnaNumber = $(element).parent().find('[name=qnaNumber]').val();
    console.log(qnaNumber);
    var memberId = $(element).parent().find('[name=memberId]').val();
    console.log(memberId);

    $.ajax({
        type: "GET",
        url: "/qna/qnaCheck",
        data: {
            memberId: memberId.trim()
        },
        success : function(response){
        console.log(response);
        	if(response == "성공"){
        		location.href = "/qna/qnaDelete?qnaNumber=" + qnaNumber + "&memberId=" + memberId;
        		alert("해당 게시글을 삭제했습니다");
        	}
            else {
            	alert("해당 게시글의 작성자가 아닙니다");
            	location.href = "/qna/qnaList";
            }
        },
        error: function(response) {
                alert('로그인 정보가 없습니다');
                location.href = "/qna/qnaList"
            }

    });


}

    </script>

</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-2">
                    <div id="fh5co-logo"><a href="/">Bang & Oops</a></div>
                </div>
                <div class="col-md-6 col-xs-6 text-center menu-1">
                    <ul>
                        <li><a href="/product/productList?categoryNumber=1">SPEAKER</a></li>
                        <li><a href="/product/productList?categoryNumber=2">EARPHONE</a></li>
                        <li><a href="/product/productList?categoryNumber=3">HEADPHONE</a></li>
                        <li><a href="/product/productList?categoryNumber=4">ACCESSORIES</a></li>
                        <li class="has-dropdown">
                            <a href="">COMMUNITY</a>
                            <ul class="dropdown">
                                <li><a href="/notice/noticeList">공지사항</a></li>
                                <li><a href="/review/reviewList">REVIEW</a></li>
                                <li><a href="/qna/qnaList">Q&A</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
                    <ul>
                        <li class="shopping-cart menu-2"><a href="/product/cart" class="cart"><span><small
                                th:text="${cartListCount}">0</small><i
                                class="icon-shopping-cart"></i></span></a></li>
                        <li class="login menu-2" th:text="${username}" id="username"></li>
                        <!-- 로그인 상태일 때 -->
                        <li class="login menu-2" sec:authorize="isAuthenticated()" id="mypage">
                            님 <a href="/mypage">mypage</a>
                        </li>
                        <li class="login menu-2" sec:authorize="isAuthenticated()" id="logout">
                            <a href="/logout">logout</a>
                        </li>

                        <!-- 로그인 상태가 아닐 때 -->
                        <li class="login menu-2" sec:authorize="isAnonymous()" id="join">
                            <a href="/join">JOIN</a>
                        </li>
                        <li class="login menu-2" sec:authorize="isAnonymous()" id="login">
                            <a href="/login">login</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(/images/category_img2.jpg); background-position: bottom center;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Q&A</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="fh5co-services" class="fh5co-bg-section">
        <div class="container">
            <div class="row">
                <div><h2>Q&A</h2></div>
               <div>
                   <input type="hidden" name="qnaNumber" th:value="${dto.qnaNumber}">
                   <input type="hidden" name="memberId" th:value="${dto.memberId}">
                   <input type="button" style="float:right;" class="btn btn-primary" onclick="deleteQna(this)" value="삭제" />
                   <input type="button" style="float:right;" class="btn btn-primary" onclick="modifyQna(this)" value="수정" />
                   <a th:href="@{/qna/qnaList}"><input type="button" style="float:right;" class="btn btn-primary" value="목록" /></a>
               </div>
                <form>
                <table class="table">
                    <tr>
                        <th>게시물번호</th>
                        <td th:text="${dto.qnaRef}"></td>
                        <th>작성자</th>
                        <td th:text="${dto.qnaWriter}"></td>
                    </tr>
                    <tr>
                        <th>카테고리</th>
                        <td th:text="${dto.qnaType}"></td>
                        <th>작성일</th>
                        <td th:text="${dto.qnaDate}"></td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td colspan="4" th:text="${dto.qnaTitle}"></td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td colspan="4" th:utext="${dto.qnaContents}"></td>
                    </tr>
                    <!--<tr>
                        <th>댓글을 남겨주세요</th>
                       <td><input type="text" name="qnaContents" id="" /></td>
                        <td colspan="4">
                            <input class="btn btn-outline-success" style="float:right;" type="submit" value="댓글작성" />
                            <input type="button" style="float:right;" class="btn btn-outline-danger" value="삭제" />
                            <input type="button" style="float:right;" class="btn btn-outline-success" value="수정" />
                        </td>
                    </tr>-->
                </table>
                </form>
            </div>
        </div>
    </div>

    <footer id="fh5co-footer" role="contentinfo" style="background: #D1C286">
        <div class="container">
            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">&copy; 2023 Free HTML5. All Rights Reserved.</small>
                        <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank"
                                                            style="color:white">FreeHTML5.co</a>
                            Demo Images: <a href="http://blog.gessato.com/"
                                            target="_blank" style="color:white">Gessato</a> &amp; <a
                                    href="http://unsplash.co/"
                                    target="_blank" style="color:white">Unsplash</a></small>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>

<div class="gototop js-top">
    <a th:href="@{#}" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- jQuery Easing -->
<script th:src="@{/js/jquery.easing.1.3.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Waypoints -->
<script th:src="@{/js/jquery.waypoints.min.js}"></script>
<!-- Carousel -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- countTo -->
<script th:src="@{/js/jquery.countTo.js}"></script>
<!-- Flexslider -->
<script th:src="@{/js/jquery.flexslider-min.js}"></script>
<!-- Main -->
<script th:src="@{/js/main.js}"></script>

</body>
</html>

