<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Shop &mdash; Free Website Template, Free HTML5 Template by gettemplates.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="gettemplates.co" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet"> -->

	<!-- Animate.css -->

	<link rel="stylesheet"  th:href="@{/css/animate.css}">
	<!-- Icomoon Icon Fonts-->
	<!--	<link rel="stylesheet" href="../../static/css/icomoon.css">-->
	<link rel="stylesheet"  th:href="@{/css/icomoon.css}">
	<!-- Bootstrap  -->
	<!--	<link rel="stylesheet" href="../../static/css/bootstrap.css">-->
	<link rel="stylesheet"  th:href="@{/css/bootstrap.css}">

	<!-- Flexslider  -->
	<!--	<link rel="stylesheet" href="../../static/css/flexslider.css">-->
	<link rel="stylesheet"  th:href="@{/css/flexslider.css}">

	<!-- Owl Carousel  -->
	<!--	<link rel="stylesheet" href="../../static/css/owl.carousel.min.css">-->
	<link rel="stylesheet"  th:href="@{/css/owl.carousel.min.css}">
	<!--	<link rel="stylesheet" href="../../static/css/owl.theme.default.min.css">-->
	<link rel="stylesheet"  th:href="@{/css/owl.theme.default.min.css}">

	<!-- Theme style  -->
	<!--	<link rel="stylesheet" href="../../static/css/style.css">-->
	<!--		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">-->
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<!-- Modernizr JS -->
	<script th:src="@{/js/modernizr-2.6.2.min.js}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script th:src="@{/js/respond.min.js}"></script>
	<![endif]-->
	<script th:src="@{/js/modernizr-2.6.2.min.js}"></script>

	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>


	<script>
	$(document).ready(function() {
		// qnaType Select 엘리먼트의 값 변경 시
		$('#qna-type-select').change(function() {
			var selectedValue = $(this).val(); // 선택된 값을 가져옴
			if (selectedValue === '전체보기') {
				location.href='/qna/qnaList';
			}
			// 값 조회 AJAX 요청
			$.ajax({
				url: '/qna/getQnaTypeValues', // 값 조회 API 엔드포인트
				type: 'GET',
				data: { value: selectedValue }, // 선택된 값을 데이터로 전송
				dataType: 'json',
				success: function(response) {
					var qnaTableBody = $('#qna-table-body'); // 결과를 표시할 테이블 tbody 선택

					// 응답 데이터를 이용하여 결과를 테이블에 추가
					var qnaList = response;
					var tableRowsHtml = '';
					for (var i = 0; i < qnaList.length; i++) {
						var qna = qnaList[i];
						var rowHtml = '<tr>' +
							'<td>' + qna.qnaRef + '</td>' +
							'<td>' + qna.qnaType + '</td>' +
							'<td><a href="/qna/qnaDetail?qnaNumber=' + qna.qnaNumber + '">' + qna.qnaTitle + '</a></td>' +
							'<td>' + qna.qnaWriter + '</td>' +
							'<td>' + qna.qnaDate + '</td>' +
							'</tr>';
						tableRowsHtml += rowHtml;
					}

					// 결과를 테이블에 삽입
					qnaTableBody.html(tableRowsHtml);
				},
				error: function(error) {
					console.log('Error: ' + error);
				}
			});
		});

	});

	</script>

</head>

<body>
<!--======================================================================================================  -->
<!-- 상단부분 -->
<!--		<div class="fh5co-loader"></div>-->

<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-2">
					<div id="fh5co-logo"><a href="/">Bang & Oops</a></div>
				</div>
				<div class="col-md-6 col-xs-6 text-center menu-1">
					<ul>
						<li><a href="/product/productList?categoryNumber=1">SPEAKER</a></li>
						<li><a href="/product/productList?categoryNumber=2">EARPHONE</a></li>
						<li><a href="/product/productList?categoryNumber=3">HEADPHONE</a></li>
						<li><a href="/product/productList?categoryNumber=4">ACCESSORIES</a></li>
						<li class="has-dropdown">
							<a href="">COMMUNITY</a>
							<ul class="dropdown">
								<li><a href="/notice/noticeList">공지사항</a></li>
								<li><a href="/review/reviewList">REVIEW</a></li>
								<li><a href="/qna/qnaList">Q&A</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
					<ul>
						<li class="shopping-cart menu-2"><a href="/product/cart" class="cart"><span><small
								th:text="${cartListCount}">0</small><i
								class="icon-shopping-cart"></i></span></a></li>
						<li class="login menu-2" th:text="${username}" id="username"></li>
						<!-- 로그인 상태일 때 -->
						<li class="login menu-2" sec:authorize="isAuthenticated()" id="mypage">
							님 <a href="/mypage">mypage</a>
						</li>
						<li class="login menu-2" sec:authorize="isAuthenticated()" id="logout">
							<a href="/logout">logout</a>
						</li>

						<!-- 로그인 상태가 아닐 때 -->
						<li class="login menu-2" sec:authorize="isAnonymous()" id="join">
							<a href="/join">JOIN</a>
						</li>
						<li class="login menu-2" sec:authorize="isAnonymous()" id="login">
							<a href="/login">login</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</nav>

	<!-- ======================================================================================================================================== -->
	<!-- 메인 배너 -->
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(/images/category_img2.jpg); background-position: bottom center;">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Q&A</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- ======================================================================================================================================== -->
	<!-- 상품리스트 -->
	<div id="fh5co-product">
		<div class="container">
			<div><h2>Q&A</h2></div>
				<div class="row" >
					<div>
						<a th:href="@{/qna/qnaWrite}" sec:authorize="isAuthenticated()"><input type="button" style="float:right;" class="btn btn-primary" value="글쓰기" /></a>
					</div>
					<table class="table" style="text-align: center;">
						<tr id="title">
							<th style="text-align: center;">NO</th>
							<th style="text-align: center;">
								<select name="qnaType" id="qna-type-select" style="text-align: center;">
									<option value="전체보기" id="all">전체보기</option>
									<option value="상품문의" id="product">상품문의</option>
									<option value="결제/배송문의" id="delivery">결제/배송문의</option>
									<option value="회원정보문의" id="member">회원정보문의</option>
									<option value="기타문의" id="etc">기타문의</option>
								</select>
							</th>
							<th style="text-align: center;">제목</th>
							<th style="text-align: center;">글쓴이</th>
							<th style="text-align: center;">작성시간</th>
						</tr>

						<!--<td scope="row" th:text="${#strings.equals( board.qna_secret, 'Y' ) ? '비밀글 입니다' : board.qna_title}"></td>
						<td class="text-left">
							<a th:href="@{/board/view.do( idx=${row.idx} )}" th:text="${row.title}"></a>
						</td>-->
						<tbody id="qna-table-body">
						<tr th:each="board:${list}">
							<td th:text="${board.qnaRef}"></td>
							<td th:text="${board.qnaType}"></td>
<!--							<td><a th:href="@{/qna/qnaDetail(qna_number=${board.qna_number})}" th:text="${board.qna_title}"></a>비밀글입니다</td>-->
							<td>
								<span th:if="${board.qnaSecret == 'true'}"><a th:href="@{/qna/qnaDetail(qnaNumber=${board.qnaNumber})}">비밀글입니다</a></span>
								<span th:if="${board.qnaSecret == null}"><a th:href="@{/qna/qnaDetail(qnaNumber=${board.qnaNumber})}" th:text="${board.qnaTitle}"></a></span>
							</td>
<!--							<td th:if="${board.qna_secret == 'true'}">비밀글입니다</td>-->
<!--							<td th:unlss="${board.qna_secret == 'true'}"><a th:href="@{/qna/qnaDetail(qna_number=${board.qna_number})}" th:text="${board.qna_title}"></a></td>-->
							<td th:text="${board.memberId}"></td>
							<td th:text="${board.qnaDate}"></td>
						</tr>

						</tbody>
					</table>
					<div class="centered" style="text-align: center;">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li th:if="${map.prev}">
									<a th:href="@{/qna/qnaList(currentPage=${map.currentPage-5})}" class="page-link">이전</a>
								</li>
								<li th:each="i : ${#numbers.sequence(map.startPageNo, map.endPageNo)}">
									<a th:href="@{/qna/qnaList(currentPage=${i})}" class="page-link" th:text="${i}"></a>
								</li>
								<li th:if="${map.next}">
									<a th:href="@{/qna/qnaList(currentPage=${map.currentPage+5})}" class="page-link">다음</a>
								</li>
							</ul>
						</nav>
					</div>


				</div>

		</div>
	</div>
	<!--===========================================================================================-->
	<footer id="fh5co-footer" role="contentinfo" style="background: #D1C286">
		<div class="container">
			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2023 Free HTML5. All Rights Reserved.</small>
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank"
															style="color:white">FreeHTML5.co</a>
							Demo Images: <a href="http://blog.gessato.com/"
											target="_blank" style="color:white">Gessato</a> &amp; <a
									href="http://unsplash.co/"
									target="_blank" style="color:white">Unsplash</a></small>
					</p>
				</div>
			</div>
		</div>
	</footer>
</div>

<div class="gototop js-top">
	<a th:href="@{#}" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- jQuery Easing -->
<script th:src="@{/js/jquery.easing.1.3.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Waypoints -->
<script th:src="@{/js/jquery.waypoints.min.js}"></script>
<!-- Carousel -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- countTo -->
<script th:src="@{/js/jquery.countTo.js}"></script>
<!-- Flexslider -->
<script th:src="@{/js/jquery.flexslider-min.js}"></script>
<!-- Main -->
<script th:src="@{/js/main.js}"></script>


</body>
</html>


